
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="people">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Personajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="films">
      <ion-icon name="film"></ion-icon>
      <ion-label>Peliculas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vehicles">
      <ion-icon name="car-sport"></ion-icon>
      <ion-label>Vehiculos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="starships">
      <ion-icon name="rocket"></ion-icon>
      <ion-label>Naves</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
